#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-size: x-large;
  display: flex;
}

.action-buttons{
  display: flex;
  float: right;
  gap: 50px;
}

button{
  font-size: x-large;
}


.Accept{
  background-color: green;
}

.Reject{
  background-color: red;
}

.Rejected{
  background-color: gray;
}

ul{
  width: 1000px;
}

li{
  width: 100%;
  height: 100px;
}
